.container {
  width: 70%;
  margin: 0 auto;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 0 20px;
}

mat-form-field {
  margin: 10px 0;
}

button {
  width: 100%;
  padding: 3px 0;
}
