:root {
  --bg-color: #0d1117;
  --toolbar: #161b22;
  --text-color: white;
  --hover-color: rgba(240, 246, 252, 0.7);
}

html,
body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: var(--text-color);
  background-color: var(--bg-color);
}

button {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
